<div class='form no-box-shadow'>
  <h3>Login</h3>

  <% if flash[:err] %>
    <% flash[:err].each do |err| %>
      <p><strong><%= err %></strong></p>
    <% end %>
  <% end %>
  
  <%= render 'partials/login_form' %>
</div>
