<div class='sidebar-link'>
  <%= link_to 'LOG IN', login_path %>
</div>
<div class='sidebar-link'>
  <%= link_to 'SIGN UP', new_user_path %>
</div>
<div id='sidebar-top-posts'>
  <%= render 'partials/sidebar-top-posts' %>
</div>
<div id='sidebar-top-posters'>
  <%= render 'partials/sidebar-top-posters' %>
</div>
