<div class='sidebar-link no-box-shadow'>
  <a class="btn btn-primary" data-toggle="collapse" href="#collapseLogin" role="button">Login</a>
  <div class='collapse' id="collapseLogin">
    <%= render 'partials/login_form' %>
  </div>
</div>
<div class='sidebar-link no-box-shadow'>
  <%= link_to 'SIGN UP', new_user_path, class: 'btn btn-primary' %>
</div>
<div id='sidebar-top-posts no-box-shadow'>
  <%= render 'partials/sidebar-top-posts' %>
</div>
