<div id='seatch-bar'>
  <%= form_tag(posts_path, :method => 'GET', id: 'search-form') do %>
    <%= text_field_tag :search, params[:search], placeholder: 'Search', class:'form-control form-wide' %>
    <%= submit_tag "Search", class: 'btn btn-primary center'%>
  <% end %>
</div>
