<div id='welcome-posts'>
  <h3 id='welcome_title'>Most Recent Posts</h3>
  <% @posts.each do |post| %>
    <%= render 'partials/post_preview', post: post %> 
  <% end %>
</div>
<div class="apple_pagination">
    <div class="page_info">
      <%= page_entries_info @posts %>
    </div>
    <%= will_paginate @posts, :container => false %>
  </div>
