<div id='search_res'>
  <h3>Search Results</h3>
  <% if @posts.empty? %>
    <strong>No results match.</strong>
  <% else %>
    <% @posts.each do |post| %>
      <%= render 'partials/post_preview', post: post %>
    <% end %>
    <div class="apple_pagination">
      <div class="page_info">
        <%= page_entries_info @posts %>
      </div>
      <%= will_paginate @posts, :container => false %>
    </div>
  <% end %>
</div>

