<h3><%= @category.name %></h3>
<% @category.posts.each do |post| %>
  <div class='post-preview'>
    <h5><%= link_to post.title, post_path(post) %></h5>
    <p><%= post.content %></h5>
  </div>
<% end %>
